# NPM/Node
node_modules

# some junk left on personal machines
.DS_Store
.vscode

# Realm specific stuff
default.realm*
realm-object-server/

# Ignore config file so people don't check in there users/pass/token by accident
config.js
